<div><%= flash[:notice] %></div>
<div class="container">
  <div class="row">
    <%= render 'layouts/user_info', obj: @user %>
    <div class="col-md-8 offset-md-1">
      <%= render 'books/index', obj: @books %>
    </div>
  </div>
</div>