<div><%= flash[:notice] %></div>
<div class="container">
  <%= render 'layouts/errors', obj: @book %>
  <div class="row">
    <%= render 'layouts/user_info', obj: current_user %>
    <div class="col-md-8 offset-md-1">
      <%= render 'index', obj: @books %>
    </div>
  </div>
</div>